## Icebreaker: Using a decision tree to predict the type of computer a student owns.

## Importing libraries

In [1]:
from sklearn import tree
import numpy as np
import pandas as pd 

from IPython.display import display, Image

## Importing dataset

In [2]:

in_file = 'students.csv'
students = pd.read_csv(in_file)

print("Number of students: {}".format(len(students)))

display(students.head(5))

Number of students: 21

,Timestamp,name,why_nanodegree,something_interesting,price,configurations,gaming,security,designing,type_of_computer
0,2/11/2017 10:29:43,ganesh,want to obtain hands on experience,NaN,2,2,2,1,1,mac
1,2/11/2017 10:30:14,Brook,Learn to predictive analytics,Ethiopian,1,2,2,2,2,mac
2,2/11/2017 10:30:35,vamsi,very exciting area,NaN,2,2,2,2,1,pc
3,2/11/2017 10:30:59,Jon,Trying to make the jump into SW engineering,NaN,1,2,2,1,2,mac
4,2/11/2017 10:32:06,Aiman,To find a new job,He enjoys playing soccer,1,1,2,1,2,mac

## Separating test dataset

In [8]:
train_data = students[(students.name != 'Brook') & (students.name != 'Jon') & (students.name != 'Aiman')]
test_data = students[(students.name == 'Brook') | (students.name == 'Jon') | (students.name == 'Aiman')]

print("Training dataset size:{}".format(len(train_data)))
display(train_data.head(1))

print("Testing dataset size:{}".format(len(test_data)))
display(test_data.head(1))

Training dataset size:18

,Timestamp,name,why_nanodegree,something_interesting,price,configurations,gaming,security,designing,type_of_computer
0,2/11/2017 10:29:43,ganesh,want to obtain hands on experience,NaN,2,2,2,1,1,mac

Testing dataset size:3

,Timestamp,name,why_nanodegree,something_interesting,price,configurations,gaming,security,designing,type_of_computer
1,2/11/2017 10:30:14,Brook,Learn to predictive analytics,Ethiopian,1,2,2,2,2,mac

## Remove columns

In [9]:

train_data = train_data.drop(['Timestamp', 'name','why_nanodegree','something_interesting'], axis=1)

display(train_data.head(5))

   price  configurations  gaming   security  designing type_of_computer
0      2               2        2         1          1              mac
2      2               2        2         2          1               pc
5      1               2        2         2          2              mac
6      1               2        2         1          2              mac
7      2               2        2         2          2              mac

## Separating the target variable - training data

In [11]:
train_target = train_data['type_of_computer']
train_predictors = train_data.drop('type_of_computer', axis = 1)

print("Target dataset size:{}".format(len(train_target)))
display(train_target.head(5))

print("\nPredictor dataset size:{}".format(len(train_predictors)))
display(train_predictors.head(1))

Target dataset size:18

0    mac
2     pc
5    mac
6    mac
7    mac
Name: type_of_computer, dtype: object

Predictor dataset size:18

   price  configurations  gaming   security  designing
0      2               2        2         1          1

## Separating the target variable - test data

In [12]:
test_target = test_data['type_of_computer']
test_predictors = test_data.drop('type_of_computer', axis = 1)

print("Target dataset size:{}".format(len(test_target)))
display(test_target.head(5))

print("\nPredictor dataset size:{}".format(len(test_predictors)))
display(test_predictors.head())

Target dataset size:3

1    mac
3    mac
4    mac
Name: type_of_computer, dtype: object

Predictor dataset size:3

,Timestamp,name,why_nanodegree,something_interesting,price,configurations,gaming,security,designing
1,2/11/2017 10:30:14,Brook,Learn to predictive analytics,Ethiopian,1,2,2,2,2
3,2/11/2017 10:30:59,Jon,Trying to make the jump into SW engineering,NaN,1,2,2,1,2
4,2/11/2017 10:32:06,Aiman,To find a new job,He enjoys playing soccer,1,1,2,1,2

## Building the Decision Tree Classifier

In [13]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(train_predictors, train_target)

## Retrieving test data

In [14]:
print("\nStudent test data:{}".format(len(test_predictors)))
display(test_predictors.head(3))
student_test_data_final = [test_predictors]

Student test data:3

,Timestamp,name,why_nanodegree,something_interesting,price,configurations,gaming,security,designing
1,2/11/2017 10:30:14,Brook,Learn to predictive analytics,Ethiopian,1,2,2,2,2
3,2/11/2017 10:30:59,Jon,Trying to make the jump into SW engineering,NaN,1,2,2,1,2
4,2/11/2017 10:32:06,Aiman,To find a new job,He enjoys playing soccer,1,1,2,1,2

## Making predictions

In [15]:
student_test_data = [[2, 2, 2, 2, 2], # Student 1
                     [1, 1, 1, 1, 1], # Student 2
                     [2, 2, 2, 2,2]] # Student 3
             


for i, computer in enumerate(clf.predict(student_test_data)):
    print "Predicted type of student {}'s computer: {}".format(i+1, computer)

print " "

for i, actual in enumerate((test_target)):
    print "Actual type of student {}'s computer: {}".format(i+1, actual)

Predicted type of student 1's computer: mac
Predicted type of student 2's computer: mac
Predicted type of student 3's computer: mac

Actual type of student 1's computer: mac
Actual type of student 2's computer: mac
Actual type of student 3's computer: mac